---
layout: page
title: 联系我们
permalink: /contact/
headerTitle: 意见反馈
headerSubCopy: 我们友好的员工将竭诚为您服务。

---

{% include global-header.html %}


<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>联系我们</h2>
          <form action="/thankyou/" netlify name="contact-form">
            <div class="form-group">
              <label for="contact-name">姓名</label>
              <input type="text" class="form-control" id="contact-name" name="contact-name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="contact-email">邮箱</label>
              <input type="email" class="form-control" id="contact-email" name="contact-email" placeholder="Email">
            </div>
            <div class="form-group">
              留言:
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <!-- <select class="form-control">
              <option>General</option>
              <option>Marketing</option>
              <option>Billing</option>
              <option>Service</option>
            </select> -->
            <!-- <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one
              </label>
            </div> -->
            <!-- <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two
              </label>
            </div> -->
            <!-- <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" required> Agree to terms
                </label>
              </div>
            </div> -->
            <button type="submit" class="btn btn-default">发送</button>
          </form>
        </div>

      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="block">
            <h2>联系方式</h2>
            <ul class="address-block">
              <li>
                <i class="fa fa-map-marker"></i>{{site.data.business.address_full}}
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>邮箱: {{site.data.business.email_primary}}
              </li>
              <li>
                <i class="fa fa-phone"></i>电话: {{site.data.business.phone_primay}}
              </li>
            </ul>

            <p>
            <ul class="social-icons">
              {% for item in site.data.social_media %}
              <li>
                <a href="{{item.link}}" title="{{item.name}}"><i class="fa {{item.icon}}"></i></a>
              </li>
              {% endfor %}
            </ul>
            </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% include call-to-action.html %}