---
layout: page
title: 新闻
permalink: /news/
headerTitle: 白山松水·大美吉林
headerSubCopy: --长白山自然生态研学行
custom_head_owl: true

---

{% include global-header.html %}


<div class="container">
  <p>置顶消息</p>
  <div class="well">
    <!-- Show people static sites can contain live informaiton!!! -->
    <!-- {% include next-launch.html %} -->
  </div>
  {% for post in site.posts %}
  <div class="post-area">
    <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
    <p class="post-date">{{post.date | date: "%Y年%-m月%-d日"}}</p>
    <p>
      {{ post.content | strip_html | truncatewords: 50 }}
    </p>
  </div>
  {% endfor %}
</div>