<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {% for item in site.data.menu.top %}
            <li><a href="{{ site.baseurl }}{{item.path}}">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <p>电话： <strong>{{site.data.business.phone_primay}}</strong><br>
          地址：<a
            href="https://maps.baidu.com/search?querytype=s&da_src=shareurl&wd={{site.data.business.address_full | url_encode}}">{{site.data.business.address_full}}</a>
        </p>
        <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44011102001894" rel="bookmark">公网安备 XXXXXX号</a></p>
      </div>
    </div>
  </div>
</footer>